@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inconsolata';
  src: url('./fonts/Inconsolata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    background-color: black;
    text-shadow: 0 0 2px #c8c8c8;
    filter: blur(0);
  }

  body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
  }

  /* glitch */
  .glitch-text {
    position: relative;
    display: inline-block;
    animation: glitch 10s infinite;
  }

  @keyframes glitch {
    0% {
      text-shadow: 0 0 1px #c8c8c8;
      filter: blur(0);
    }

    5% {
      text-shadow: 0 1px 2px #c8c8c8;
      filter: blur(5);
    }

    8% {
      text-shadow: 0 0 2px #c8c8c8;
      filter: blur(0);
    }

    15% {
      filter: blur(10);
    }
    20% {
      text-shadow:
        -1px 0 2px #c8c8c8,
        0 0 3px #ff00ff;
    }
    40% {
      text-shadow:
        0 0 2px #c8c8c8,
        0 0 1px #ff00ff;
    }
    50% {
      filter: blur(15);
    }
    55% {
      filter: blur(20);
    }
    60% {
      text-shadow:
        -1px 0 1px #c8c8c8,
        2px 2px 2px #ff00ff;
      filter: blur(10);
    }
    80% {
      text-shadow: 0 2px 2px #c8c8c8;
      filter: blur(5);
    }

    82% {
      text-shadow: 0 0 2px #c8c8c8;
      filter: blur(5);
    }

    100% {
      text-shadow: 0 0 1px #c8c8c8;
    }
  }

  /* typing effect css  */
  [data-typing-effect] {
    visibility: hidden;
  }

  /* screen glow */
  .radiantGreenBg {
    background-image: radial-gradient(rgba(0, 150, 30, 0.55), black 120%);
  }
}
